# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# --- General Settings for All Files ------------------------------------------

[*]

end_of_line = lf                # Unix-style newlines
insert_final_newline = true     # Ensure a newline at the end of the file
charset = utf-8                 # Set default charset
trim_trailing_whitespace = true # Remove trailing whitespace

# --- Language Specific Settings ----------------------------------------------

# Python files
[*.py]
indent_style = tab
indent_size = 4

# Makefile (Tabs are essential here)
[Makefile]
indent_style = tab

# JavaScript under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Markdown files often don't want trailing whitespaces to be trimmed
# (two spaces at the end of a line create a line break in markdown)
[*.md]
trim_trailing_whitespace = false

# CSS files
[*.css]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# Special cases: package.json and .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
