#!/usr/bin/env bash
# shellcheck shell=bash disable=SC1090,SC1091,SC2155

# ---[ PATHS ]------------------------------------------------------------------

# export PATH="${PATH}:${HOME}/bin"                               # User bin
# export PATH="/usr/local/opt/coreutils/libexec/gnubin:${PATH}"   # coreutils
# export PATH="/usr/local/bin:${PATH}"                            # Brew bin
# export PATH="/usr/local/sbin:${PATH}"                           # Brew sbin
# export PATH="/usr/local/git/bin:${PATH}"                        # Git bin
# export PATH="/usr/local/bin:/sw/bin:/usr/local:${PATH}"         # Unknown
# export PATH="/usr/local/mysql/bin:${PATH}"                      # MySQL bin
# export PATH="/opt/metasploit-framework/bin:${PATH}"             # Metasploit bin
export PATH="${HOME}/.cargo/bin:${PATH}"
export PATH="/opt/homebrew/opt/openjdk@17/bin:${PATH}"

# ---[ HOMEBREW ]---------------------------------------------------------------

# Install GUI apps in /Applications.
export HOMEBREW_CASK_OPTS='--appdir=/Applications'

# Avoid issues with `gpg` as installed via Homebrew.
export GPG_TTY="$(tty)"

# ---[ NODE ]-------------------------------------------------------------------

export NODE_REPL_HISTORY="${HOME}/.node_history" # Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY_SIZE='32768'            # Allow 32³ entries; the default is 1000.
export NODE_REPL_MODE='sloppy'                   # Use sloppy mode by default, matching web browsers.

# ---[ PYTHON ]-----------------------------------------------------------------

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'
