# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# Treat hyphens and underscores as equivalent during completion
set completion-map-case on

# Display possible completions using colors indicating their file types
set colored-stats On

# List all matches immediately if multiple completions are possible
set show-all-if-ambiguous on

# Add a trailing slash automatically when autocompleting symlinks to directories
set mark-symlinked-directories on

# More intelligent command history navigation with Up/Down arrow keys.
# This searches the history for commands that start with what's already been typed.
"\e[B": history-search-forward
"\e[A": history-search-backward

# Do not autocomplete filenames starting with a dot unless the pattern explicitly begins with a dot
set match-hidden-files off

# Display all autocomplete results at once, rather than paginating
set page-completions off

# If more than 200 possible completions exist, ask before showing them all
set completion-query-items 200

# Show extra file information during completion, similar to the behavior of `ls -F`
set visible-stats on

# Intelligent autocompletion by considering text after the cursor (supported in Bash 4's Readline)
set skip-completed-text on

# UTF-8 input and output settings
set input-meta on      # Allow the input of 8-bit characters
set output-meta on     # Enable the display of 8-bit characters
set convert-meta off   # Do not convert 8-bit characters to escape sequences

# Bind Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word